.header {
    background-color: var(--primary);
    color: var(--text-color);
    width: 100%;
    text-align: center;
    height: 100px;
}

.header-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 32px;
}

.bl-logo {
    margin-top: 36px;
    margin-left: -200px;
    height: 100px;
}

.logo {
    border: 1px solid var(--text-color);
    background-color: var(--text-color);
    color: black;
    height: 100%;
    padding: 42px 28px;
}
.menu{
    margin-left: -25px;
}
ul {
    margin: 36px 0px;
}

ul li {
    display: inline-block;
}

li a {
    color: var(--text-color);
    padding: 16px;
    margin: 32px 28px;
    border: var(--primary) 1px solid;
    border-radius: 5px;
    font-weight: bold;

}

li a:hover {
    border: 1px var(--yellow) solid;
    border-radius: 5px;
    text-decoration: underline;
    color: var(--text-color);
    background-color: var(--yellow);
    padding: 16px;
}

.btn-login {
    margin: 36px 0px;
}

.login {
    border: 1px solid snow;
    border-radius: 5px;
    color: var(--text-color);
    background-color: var(--primary);
    font-weight: bold;
    margin-left: 100px;
}
.nameLogin{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    
}